#counter-list-page {
  .counters {
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
