.counters {
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
}

.counter {
  background-color: #f5f5f5;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 12px;
  padding: 8px 0;

  display: flex;
  justify-content: space-between;

  &__info {
    color: inherit;
    min-width: 0; // prevent horizontal overflow with long names
    text-align: center;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;

    p {
      margin: 0;
    }

    p:first-child {
      font-weight: bold;
    }
  }

  &__button {
    background: none;
    padding: 0 12px;

    flex-shrink: 0;

    ion-icon {
      font-size: 1.75rem;
    }
  }
}
