#counter-page {
  .counter-display {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
  }

  .increment-wrapper {
    padding: 0 25px;

    flex-grow: 1;
  }

  .increment-button {
    background: none;

    height: 100%;
    width: 100%;
  }

  .increment-inner {
    background-color: var(--background);
    border-radius: 20px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    color: var(--color);
    font-size: 110px;
    padding: 25px;
  }

  // padding + negative margin prevents box shadow from getting cut off at the sides
  .sub-counters {
    margin: 0 -5px;
    overflow-y: auto;
    padding: 0 30px 8px;

    max-height: 235px;

    &--has-extra-buttons {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
