#counter-page {
  .counter-display {
    padding: 0 25px;

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
  }

  .increment-wrapper {
    flex-grow: 1;
  }

  .increment-button {
    background: none;

    height: 100%;
    width: 100%;
  }

  .increment-inner {
    background-color: var(--background);
    border-radius: 20px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
    color: var(--color);
    font-size: 110px;
    padding: 25px;
  }

  .sub-counters {
    overflow-y: auto;
    padding-bottom: 8px;

    max-height: 235px;
  }
}
