.color-picker {
  &__main-button {
    width: 50px;
  }

  &__popover {
    --width: 200px;

    .react-colorful {
      overflow: hidden;

      &__saturation,
      &__hue {
        border-radius: 0;
      }
    }
  }

  &__default-buttons {
    padding: 8px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__default-button {
    &:not(:nth-child(4n)) {
      margin-right: 8px;
    }

    width: 35px;
  }

  &__input {
    font-family: monospace;
    font-size: 16px;

    width: 200px;
  }
}
