.color-picker {
  &__button {
    width: 50px;
  }

  &__popover {
    --background: transparent;

    --width: auto;

    .react-colorful {
      &__saturation,
      &__hue {
        border-radius: 0;
      }
    }
  }

  &__input {
    font-family: monospace;
    font-size: 16px;

    width: 200px;
  }
}
