body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  margin: 0;
}

p {
  margin-top: 0;
}

.md ion-buttons + ion-title {
  padding-inline-start: 0;
}

ion-buttons a {
  color: unset;
}

ion-list.list-md {
  padding-top: 0;
}

ion-item {
  --transition: none;
}

.message {
  color: gray;
  font-style: italic;
}
